@charset "utf-8";


body {background-color:rgb(0, 204, 255);
      font-family: Segoe, Verdana, sans-serif;}

header {background-color: red;
       }

h1 {
   color: white;
   background-color: rgb(0, 102, 255);
}

h2 {
	color: white;
	background-color: rgb(0, 102, 255);
 }

nav > ul {
	line-height: 2em;
	list-style-type: none;
	padding-left: 5px;
}

section {background-color: rgb(102, 153, 255);
	 width:75%;
	 font-size:1.2em;
	}

footer {background-color: red;
       }
